<footer>
    <div class="container-footer">
        <div id="redes" class="div-footer">
            <p id="tf">Vintage Soul</p>
            <ul id="list">
                <li><a href="">Contacto</a></li>
                <li> Teléfono: +591 71798255</li>
                <li> ventas@VintageSoul.com</li>    
            </ul>
            <div class="redes-icon">
                <img id="redes" src="/images/iconos/facebook.png" alt="facebook">
                <img id="redes" src="/images/iconos/instagram.png" alt="instagram">
                <img id="redes" src="/images/iconos/twiter.png" alt="twitter">
          </div>  
        </div> 

        <div id="legal" class="div-footer">
            <p id="tf">Legal</p>
            <ul id="list">
                <li><a href="">Politica de privacidad</a> </li>
                <li><a href=""> Terminos de Entrega</a></li>
                <li><a href=""> Garantía</a></li>
            </ul>
        </div>

        <div id="servicios" class="div-footer">
            <p id="tf">Servicios</p>
            <ul id="list">
                <li><a href=""> Mi cuenta</a></li>
                <li><a href=""> Atencion al Cliente</a></li>
            </ul>
        </div>
        <div class="newsletter" >
                <p id="tf">Suscribete a nuestro Newsletter</p>
                <p id="list">Informate de lo último de VintageSoul. Nuestras ofertas y novedades directamente en tu e-mail.</p>
                         
                <form class="form-newsletter" action="" method="post">                                         
                  <input type="email" name="newsletter" id="newsletter" required placeholder="Correo electrónico">
                  <input type="button" name="newsletter" id="newsletter" value="Enviar">
                </form>               
        </div>  
    </div> 
    <div class="Copy">
        <p>© Copyright 2020 – Todos los derechos reservados Vintage Soul.</p>
    </div>          
              
</footer>       
