<footer>
    <div class="container-footer">
        <div id="redes" class="div-footer">
            <p id="tf">Fashionize</p>
            <ul id="list">
                <li><a href="">Contacto</a></li>
                <li> Teléfono: +5411 6667-7789</li>
                <li> ventas@fashionize.com</li>    
            </ul>
            <div class="redes-icon">
                <img id="redes" src="/images/iconos/facebook.svg" alt="facebook">
                <img id="redes" src="/images/iconos/instagram.svg" alt="instagram">
                <img id="redes" src="/images/iconos/twiter.svg" alt="twitter">
          </div>  
        </div> 

        <div id="legal" class="div-footer">
            <p id="tf">Legal</p>
            <ul id="list">
                <li><a href="">Politica de privacidad</a> </li>
                <li><a href=""> Terminos de Entrega</a></li>
                <li><a href=""> Garantía</a></li>
            </ul>
        </div>

        <div id="servicios" class="div-footer">
            <p id="tf">Servicios</p>
            <ul id="list">
                <li><a href=""> Mi cuenta</a></li>
                <li><a href=""> Atencion al Cliente</a></li>
            </ul>
        </div>
        <div class="newsletter" >
                <p id="tf">Suscribete a nuestro Newsletter</p>
                <p id="list">Informate de lo último de Fashionize. Nuestras ofertas y novedades directamente en tu e-mail.</p>
                         
                <form class="form-newsletter" action="" method="post">                                         
                  <input class="input-newsletter" type="email" name="newsletter" id="newsletter" required placeholder="ejemplo@email.com">
                  <button class="btn-new" type="submit" name="newsletter" id="newsletter" value="">
                </form>               
        </div>  
    </div> 
    <div class="Copy">
        <p>© Copyright 2020 – Todos los derechos reservados Fashionize.</p>
    </div>          
              
</footer>       
