<header> 

    <!--  <div class="login-register" style="padding-top:3px; padding-bottom: 2px;" > 
            <div class="login-user" >
                 <a href="/users/acceder"><img src="/images/iconos/acceder.png" style="width: 43px;" alt=""></a>
            </div>  
    </div> --> 

    <nav class="nav-acceder" style="padding-top:1px; padding-bottom: 2px;" >     
        <ul class="menu-acceder">        
            <li><a href="" style="height: 47px;"><img src="/images/iconos/acceder.png" style="width: 43px;" alt=""></a>
                <ul class="lista" style="right: 5px;">
                    <li class=""> <a href="">Bienvenido</a> </li>
                    <li class="no"> <a href="/users/login" class="opcion">Login</a> </li>
                    <li class="no">  <a href="/users/register" class="opcion">Registrate</a> </li>
                    <li class="si">  <a href=""class="opcion">Editar Perfil</a> </li>
                    <li class="si">  <a href="" class="opcion"> Editar Contraseña</a> </li>
                    <li class="si">  <a href="/users/destroySession" class="opcion S"> Cerrar Sesión</a> </li>
                </ul>                
            </li>
        </ul>
    
</nav>


    <div class="container-nav">  
            <div class="div-logo">
                <div>
                    <a href="/Home"><img class="logoFN" src="/images/fn-logo.jpg" alt=""></a>
                </div>
            </div>

        <div  class="div-busqueda-hamb">

            <div class="div-lista-btn"> 
                <input type="checkbox" name="" id="btn-menu">
                <label class="label-img" for="btn-menu">
                    <img src="/images/iconos/menu.png" class="img-menu" alt="">
                </label>
                
                    <nav class="menu">
                        <ul>
                            <li><a href="/home">Inicio</a></li>
                            <li><a href="/products">Indumentaria</a></li>                
                            <li><a href="/products/ofertas">Ofertas</a></li>
                            <li><a href="/contacto">Contacto</a></li>
                        </ul>
                    </nav>
            </div>  

            <div class="box">
                <input class="src" type="search" name="search" id="" placeholder="buscar..." autocomplete="off" > 
            </div>

            <div class="carrito" style="width: 4.5%;">
                <a href="/products/cart" style="width: 100%;"><img src="/images/iconos/carrito.png"  alt=""></a>                
            </div>


       </div>
    </div>

</header>