<header id="header">

    <nav class="containerNavMain">

      <div class="logoNav">
        <img class="logoVS" src="/images/logoVS.png" alt="Vintage Soul">
      </div>

      <form class="containerSearch cs01 shadow1" action="#" method="get">
        <input type="search" class="searchIn" placeholder="Buscar">
        <button type="submit" class="btnSearch"><span class="material-icons searchIc">search</span></button>
      </form>

      <ul class="iconsNav">
        
        <li><a href=" "><span class="material-icons">person</span></li></a>
        <li><a href=" "><span class="material-icons">shopping_cart</span></li></a>
      </ul>
    </nav>

    <nav class="containerNavMenu">

      <div class="menuIc">
        <span class="material-icons">menu</span>
      </div>

      <form class="containerSearch cs02 shadow1" action="#" method="get">
        <input type="search" class="searchIn" placeholder="Buscar">
        <button type="submit" class="btnSearch"><span class="material-icons searchIc">search</span></button>
      </form>

      <ul class="botonera-list">
        <li class="botonera-list-Item"><a href="#">Indumentarias</a></li>
        <li class="botonera-list-Item"><a href="#">Accesorios</a> </li>
        <li class="botonera-list-Item"><a href="#">Ofertas</a></li>
        <li class="botonera-list-Item"><a href="#">Nosotros</a></li>
        <li class="botonera-list-Item"><a href="#">Contacto</a></li>           
      </ul>
    </nav>
  </header>