<header> 

    <div class="login-register" style="padding-top:3px; padding-bottom: 2px;" > 
            <div class="login-user" >
                 <a href="/users/acceder"><img src="/images/iconos/acceder.png" style="width: 43px;" alt=""></a>
            </div>  
    </div>

    <div class="container-nav">  
            <div class="div-logo">
                <div>
                    <a href="/Home"><img class="logoFN" src="/images/fn-logo.jpg" alt=""></a>
                </div>
            </div>

        <div  class="div-busqueda-hamb">

            <div class="div-lista-btn"> 
                <input type="checkbox" name="" id="btn-menu">
                <label class="label-img" for="btn-menu">
                    <img src="/images/iconos/menu.png" class="img-menu" alt="">
                </label>
                
                    <nav class="menu">
                        <ul>
                            <li><a href="/home">Inicio</a></li>
                            <li><a href="/products">Indumentaria</a></li>                
                            <li><a href="/products/ofertas">Ofertas</a></li>
                            <li><a href="/contacto">Contacto</a></li>
                        </ul>
                    </nav>
            </div>  

            <div class="box">
                <input class="src" type="search" name="search" id="" placeholder="buscar..." autocomplete="off" > 
            </div>

            <div class="carrito" style="width: 4.5%;">
                <a href="" style="width: 100%;"><img src="/images/iconos/carrito.png"  alt=""></a>                
            </div>


       </div>
    </div>

</header>