<header> 

    <div class="login-register"> 
            <a href="/login">Iniciar sesión |</a> 
            <a href="/register">Crear cuenta</a>
    </div>

    <div class="container-nav">  
            <div class="div-logo">
                <div>
                    <a href="/Home"><img class="logoFN" src="/images/fn-logo.jpg" alt=""></a>
                </div>
            </div>

        <div  class="div-busqueda-hamb">

            <div class="div-lista-btn"> 
                <input type="checkbox" name="" id="btn-menu">
                <label class="label-img" for="btn-menu">
                    <img src="/images/iconos/menu.png" class="img-menu" alt="">
                </label>
                
                    <nav class="menu">
                        <ul>
                            <li><a href="/home">Inicio</a></li>
                            <li><a href="/products">Indumentaria</a></li>                
                            <li><a href="#">Ofertas</a></li>
                            <li><a href="/contacto">Contacto</a></li>
                        </ul>
                    </nav>
            </div>  

            <div class="box">
                <input class="src" type="search" name="search" id="" placeholder="buscar..." autocomplete="off" style=""> 
            </div>

            <div class="carrito">
                <a href=""><img src="/images/iconos/carrito.png"  alt=""></a>                
            </div>


       </div>
    </div>

</header>