<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/iconos/titleFN.png" type="image/x-icon">
    <title>Home</title>    
    <link href="https://fonts.googleapis.com/css2?family=Advent+Pro:wght@300&family=Great+Vibes&family=Pinyon+Script&family=Playfair+Display+SC:wght@700&family=Roboto:wght@300&display=swap" rel="stylesheet">    <link rel="stylesheet" href="/stylesheets/styleProductDetail.css">
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/header-style.css">
    <link rel="stylesheet" href="/stylesheets/footer-style.css">    
    <link rel="stylesheet" href="/stylesheets/style.css">

    <script>
        //prueba para obtener el usuario, funciona!4
       /*  window.addEventListener("load",function(){
        const usernav= document.querySelector(".usernav");   
       

        let username= localStorage.getItem('user');
        console.log(username)

        if(username != null ){
            console.log("hay un usuario logueado");
            console.log(username);
            usernav.innerHTML= '<div>'+username+'</div>' 

        }else{
            usernav.innerHTML= '<div>Iniciar Session</div>' 
        }

    });   */



    </script>
</head>

<body>
    <%- include('./partials/headerFN') %>
    <div class="usernav">

    </div>

    <div class="banner">
        <img src="/images/banerHome.png" alt="" style="width: 100%; margin: 2%;">
    </div>

    <div class="img-background" style="height: 30vh;">
        <img src="" alt="">            
    </div>
       
    <div class="main-home">    
        <div  class="img-categoria">
            <div >
                <a href="/products/categorias/4">
                     <img src="/images/vestidos.png" alt="vestidos">
                </a>
            </div>
            <div>
                <a href="/products/categorias/3">
                    <img src="/images/camisas.png" alt="camisas">
                </a>
            </div>
            <div>
                <a href="/products/categorias/1">
                     <img src="/images/pantalones.png" alt="pantalones" > 
                </a>
            </div>
        </div>
    </div>

    <%- include('./partials/footerFN') %> 
</body>

</div> 
</html>