<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/iconos/titleFN.png" type="image/x-icon">
    <title>Login</title>    
    <link href="https://fonts.googleapis.com/css2?family=Advent+Pro:wght@300&family=Great+Vibes&family=Pinyon+Script&family=Playfair+Display+SC:wght@700&family=Roboto:wght@300&display=swap" rel="stylesheet">    <link rel="stylesheet" href="/stylesheets/styleProductDetail.css">
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/header-style.css">
    <link rel="stylesheet" href="/stylesheets/footer-style.css">    
    <link rel="stylesheet" href="/stylesheets/styleFormularios.css">
</head>

<body>
  <%- include('./partials/headerFN') %>


    <section class="main-login">
        
        <div class="cajaLogin">
            <div style="display: flex; justify-content: center;">
            <img class="logobody" src="/images/iconos/LogoFN.png" alt="">
            </div>
        

            <div class="tengoCuenta">  
                 <h1 id="h1Cuenta">Ya tengo cuenta</h1>   
                 <h2 id="h2Cuenta">Login</h2>  
            </div>       

            <% if (typeof errors != "undefined"){ %>
                <ul>
                    <% for (var i= 0; i< errors.length ; i++) { %>
                        <li> <%= errors[i].msg %> </li>
                    <%}%>
                </ul>
            <%}%>    

            <form action="/users/login" method="POST" class="formLogin"> 
        
            <p class="formulario">
                <label for="user">Ingrese su Email</label>
            </p>
                <p class="formulario">
                <input type="email" name="email" id="user">
            </p>
            <p class="formulario">
                <label for="pass">Contrase単a:</label></p>
                <p class="formulario">
                <input type="password" name="password" id="pass">
            </p>
            <label for="remember">Recordar Sesion</label>
            <input type="checkbox" name="remember" id="remember">
            <p id="forgotpass" class="formulario"><a href="">多Olvidaste tu contrase単a?</a></p>

            <p class="formulario"><button id="botonCA" type="submit" name="login">Ingresar</button></p><br>
        </form>

    </div>
    <% if(typeof errorAlLoguear != "undefined"){ %>
        <p><%= errorAlLoguear %></p>
    <% } %>


</section>  
    <section class="main-login">
        <div class="cajaLogin">
        <h1 id="nameCaja">多Primera vez?</h1> <br>              
        <div class="registroFbyGoogle">    
        <a href="/users/register"><button id="botonFBG" type="submit" name="irLogin">Registrate ahora</button></a><br>
    </div>
</div> 
    </section>    

<%- include('./partials/footerFN') %> 
    
</body>
</html>