<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/iconos/titleFN.png" type="image/x-icon">
    <title>Login</title>    
    <link href="https://fonts.googleapis.com/css2?family=Advent+Pro:wght@300&family=Great+Vibes&family=Pinyon+Script&family=Playfair+Display+SC:wght@700&family=Roboto:wght@300&display=swap" rel="stylesheet">    <link rel="stylesheet" href="/stylesheets/styleProductDetail.css">
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/header-style.css">
    <link rel="stylesheet" href="/stylesheets/footer-style.css">    
    <link rel="stylesheet" href="/stylesheets/styleFormularios.css">
</head>

<body>
  <%- include('./partials/headerFN') %>


    <section class="main-login">
        
        <div class="cajaLogin" style="padding: 30px 30px 30px 30px;">
            <div style="display: flex; justify-content: center;">
            <img class="logobody" src="/images/iconos/LogoFN.png" alt="">
            </div>
        

            <div class="tengoCuenta">  
                 <h1 id="h1Cuenta">Acceder</h1>   
                 
            </div>       

            <% if (typeof errors != "undefined"){ %>
                <ul>
                    <% for (var i= 0; i< errors.length ; i++) { %>
                        <li class="errorLogin"> <%= errors[i].msg %> </li>
                    <%}%>
                </ul>
            <%}%>    

            <form action="/users/login" method="POST" class="formLogin"> 
        
            <p class="formulario">
                <label for="user" style="font-weight: bold;">Ingrese su Email:</label>
            </p>
                <p class="formulario">
                <input type="email" name="email" id="user">
            </p>
            <p class="formulario">
                <label for="pass" style="font-weight: bold;">Contrase単a:</label></p>
                <p class="formulario">
                <input type="password" name="password" id="pass">
            </p>
            <label for="remember" style="font-weight: bold;">Recordar Sesion</label>
            <input type="checkbox" name="remember" id="remember" checked>
            <p id="forgotpass" class="formulario"><a href="">多Olvidaste tu contrase単a?</a></p>
            <p id="forgotpass" class="formulario"><a href="/users/register">多No tienes una cuenta? Registrate</a></p>

            <p class="formulario"><button id="botonCA" type="submit" name="login">Ingresar</button></p><br>

            <% if(typeof errorAlLoguear != "undefined"){ %>
                <p class="errorLogin"><%= errorAlLoguear %></p>
            <% } %>
        </form>

    </div>
    


</section>  


<%- include('./partials/footerFN') %> 
    
</body>
</html>