<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 404</title>
    <link rel="stylesheet" href="/stylesheets/header-style.css">
    <link rel="stylesheet" href="/stylesheets/footer-style.css">    
    <link rel="stylesheet" href="/stylesheets/not-found.css">
</head>
<body>
    <%- include('./partials/headerFN') %>

    <main style="display:flex" id="main">
        <div> 
            
            <div class="imagen">
                <img src="/images/error.png" alt="error 404">   
            </div>         

            <div class="btn-volver">
                <a href="/"><button>VOLVER A HOME</button></a>
            </div>
        </div>
    
    </main>



    <%- include('./partials/footerFN') %> 
</body>
</html>