<!DOCTYPE html> 
    <html> 
        <head>
            <title> Carrito de Compras </title>
            <meta charset="UTF-8">
            <link rel="shortcut icon" href="/images/iconos/titleFN.png" type="image/x-icon">
            <meta name="viewport" content= "width-device-width, initial-scale=1">
            <link href="https://fonts.googleapis.com/css2?family=Advent+Pro:wght@300&family=Great+Vibes&family=Pinyon+Script&family=Playfair+Display+SC:wght@700&family=Roboto:wght@300&display=swap" rel="stylesheet">    <link rel="stylesheet" href="/stylesheets/styleProductDetail.css">
            <link href="https://fonts.googleapis.com/css2?family=PT+Serif&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="/stylesheets/header-style.css">
            <link rel="stylesheet" href="/stylesheets/footer-style.css">    
            <link rel = 'stylesheet' href ='/stylesheets/productCart.css' />
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
            <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

        </head>
        

        <body> 
            <%- include('./partials/headerFN') %>

            

         <main>
            <section class= "Cesta">

                    <p class = "titulo"> Cesta </p>

                    <article class = "Bloque_Cesta">

                        <div class = "producto">

                            <div class = "detalles_producto">

                            <p> Nombre del producto </p>
                            <p> Eliminar producto </p>

                            </div>

                            <img src="images/product3.jpg">

                            <div class = "detalles_producto">

                            <p> $$ </p>
                            <p> Ir a detalles </p>

                            </div>

                        </div>

                        <div class = "producto">

                            <div class = "detalles_producto">

                                <p> Nombre del producto </p>
                            
                                <p> Eliminar producto </p>
    
                                </div>
    
                                <img src="images/product4.jpg">
    
                                <div class = "detalles_producto">
    
                                <p> $$ </p>
                                <p> Ir a detalles </p>
    
                                </div>
                                
                            </div>
                            
                        <div class = "producto">
                    
                            <div class = "detalles_producto">

                                <p> Nombre del producto </p>
                                <p> Eliminar producto </ap>
    
                                </div>
    
                                <img src="images/product5.jpg">
    
                                <div class = "detalles_producto">
    
                                <p> $$ </p>
                                <p> Ir a detalles </p>
    
                                </div>


                        </div>
                    


                    

                    </article>

                    <article class = "detalles_compra">

                        <div class= "detalle_general">

                       
                            <p class= "detallesG"> Productos en el carrito </p>
                        
                            <p class= "detallesG"> Precio de envio </p>

                        </div>
                    
                        <div class = "precio_general">

                            <form  action = 'validar.php' method = 'POST'> 

                                <button class= "Buy"> Comprar ahora </button>

                            </form>

                        <div class = "p_total">

                            <div class = "precio_total">

                                 <p> $$ </p>  

                            </div>

                        </div>

                        </div>
                    
                
                

                    </article>

                

            </section>


                <hr>

                
            <p class = "Rel"> Si te gustó (producto) tal vez te interesará: </p>    

            <section class = "prodRel">

                    <div class = "botonA">

                            <p><</p>
                    </div>

                    <article class = "product1">
                    
                        
                        <img src = "images/product1.jpg">

                    
                        <div>

                            <p> Nombre del Producto </p>

                            <p> $$ </p>
                            
                        </div>
                    </article>

                    <article class = "product2">

                        <img src = "images/product2.jpg">

                    
                        <div>

                            <p> Nombre del Producto </p>

                            <p> $$ </p>


                    </article>

                    

                    <div class = "botonS">

                        <p>></p>

                    </div>



            </section>    
                
         <main>

            <div>

            </div>

            <%- include('./partials/footerFN') %> 
        </body>
    </html>