<!DOCTYPE html> 
    <html> 
        <head>
            <title>Agregar Producto</title>
            <meta charset="UTF-8">
            <link rel="shortcut icon" href="/images/iconos/titleFN.png" type="image/x-icon">
            <meta name="viewport" content= "width-device-width, initial-scale=1">
            <link rel = 'stylesheet' href ='/stylesheets/productAdd.css' />
            <link href="https://fonts.googleapis.com/css2?family=PT+Serif&display=swap" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css2?family=Advent+Pro:wght@300&family=Great+Vibes&family=Pinyon+Script&family=Playfair+Display+SC:wght@700&family=Roboto:wght@300&display=swap" rel="stylesheet">    <link rel="stylesheet" href="/stylesheets/styleProductDetail.css">
            <link rel="stylesheet" href="/stylesheets/header-style.css">
            <link rel="stylesheet" href="/stylesheets/footer-style.css">    
        </head>

    <body>
        <%- include('./partials/headerFN') %>
        <main>
            <section>                
                <div id="title"><span style="display: block;">DATOS DEL PRODUCTO</span></div>
                <form action = "validar.php" method="POST">
                    <input type = "text" name="nombre" placeholder="Nombre del Producto" required> <br>
                   
                    <div  id="sec">
                        <label for="categoria" style="font-size: 16; font-weight: bolder;">Categoría</label><br>
                        <select name="categoria" id="categoria">                    
                            <option value="remeras">Remeras</option>
                            <option value="camisas">Camisas</option>
                            <option value="pantalones">Pantalones</option>
                            <option value="vestidos">Vestidos</option>  
                            <option value="polleras">Polleras</option>      
                        </select>
                    </div>

                   <div id="sec" class="tallexColor">
                        
                        <input type="" name="talle" placeholder="Talle">
                        <input type="color" name="color" placeholder="color disponible en este talle"> 
                        <input type="number" name="stock" placeholder="Stock disponible en el color seleccionado">                         
                    </div>

                    <div  id="sec">
                    <input type = "text" name="Marca" placeholder="Marca"><br>                                       
                    </div>
                    <div  id="sec">
                    <input type = "number" name="Precio en pesos" placeholder="Precio en pesos" required> <br>                 
                    </div>
                    <div  id="sec">
                    <input type ="number" name="Descuento" placeholder="Descuento en %" required> <br>
                    </div>

                    <div id="sec" class="subcat">                
                        <input type="checkbox"  name="subcat" id="oferta" value="oferta" >Oferta
                        <input type="checkbox" name="subcat" id="destacado" value="destacado">Destacado
                        <input type="checkbox" name="subcat" id="nuevos" value="nuevos">New arrivals
                    </div>

                    <div  id="sec" class="carga-img">
                        <label for="" style="font-size: 16; font-weight: bolder;">Subir imagenes del producto</label>
                        <input type="file" name="img-product" id="" style="border: none"><br>
                    </div>
                    <div  id="sec">
                        <textarea name="desc" id="desc" rows="10">Descripción</textarea> <br>
                    </div>                  
                    <input type="submit" id="crear" value="CREAR">     
                    <input class="reset" id="reset" type="reset" name= "Reset" value="BORRAR">
                </form>

            </section>    

        </main>
        <%- include('./partials/footerFN') %> 

    </body>