<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle del producto</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/stylesheets/styleHeader.css">
    <link rel="stylesheet" href="imagenes/iconos/font/flaticon.css">
    <link href='https://fonts.googleapis.com/css?family=Overlock SC' rel='stylesheet'>
    <link rel="stylesheet" href="/stylesheets/styleProductDetail.css">
</head>

<body>
    <%- include('./partials/header') %>

    <main class="main-productDetail">  
        <h1 id="product-name">Vestido de fiesta</h1>               

        <div class= "detalle-producto">
            <div id="principal">
                    <article id="articulo">
                        <div class="img-product">
                        <img id= "imagenDelproducto" src="/images/ejemplo.jpg" alt="placeholder">
                        </div>  
                        <div id="datos">
                                <p id="precio" >$249</p> 
                                <p id="precioConDesc" >$225   </p>
                                <p id="descuento" >10% de descuento</p>
                            </div>
                    </article> 
            </div>

            <div class="div-color-talle" >
                <div id="color">
                        <p id="selector">Color: Rojo</p>                             
                        <button type="button" id="Boton-color" style="background-color: red;"></button>                                 
                </div>

                <div class="div-talle">
                   <div>
                        <p id="selector">Talle:</p>
                    </div>
                         <div id="tabla-talles">
                            <div>
                                <button type="button" id="boton-talle">S</button>
                                <button type="button" id="boton-talle">M</button>
                                <button type="button" id="boton-talle">L</button>
                                <button type="button" id="boton-talle">XL</button>
                            </div>
                        </div>
                    </div>
         </div>

        <div id="met-pago">
            <button id="botonCA" type="submit" name="compra">Comprar Ahora</button><br>
            <button id="botonCA" type="submit" name="agrega">Añadir al carrito</button><br>
        </div>    

        <div class="detalles">
            <h2 id="titulos" whidh="100%">Detalles</h2>
                <p id="p-descripcion">Vestidos de cóctel 2019 Elegante Una línea Vestidos de fiesta de satén rojo Cariño Sin mangas Sin espalda Longitud de té Vestidos de baile Vestido de fiesta por la noche 90</p>
        </div>  
        <div class="Especificaciones">
            <h3 id="titulos">Especificaciones</h3>
            <div id="div-Esp">    
                                <table width="100%">                        
                                <tr>
                                    <th id="Esp.-name">Talle:</td>
                                    <td id="Esp.-value">M</td>
                                </tr><br>

                                <tr>
                                    <th id="Esp.-name">Color:</td>
                                    <td id="Esp.-value">Rojo</td>
                                </tr><br>
                                <tr>
                                    <th id="Esp.-name">Tipo:</td>
                                    <td id="Esp.-value">Vestido</td>
                                </tr><br>
                                <tr>
                                    <th id="Esp.-name">Material:</td>
                                    <td id="Esp.-value">Algodon</td>
                                </tr><br>
                                <tr>
                                    <th id="Esp.-name">Temporada:</td>
                                    <td id="Esp.-value">Primavera-verano</td>
                                </tr> 
                                </table>                                
                                   
            </div>                             
        </div>      
     </div>  

    </main>   
    

<%- include('./partials/footer') %>
    
</body>
</html>