<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/acceder.css">    

</head>
<body>
    <div class="cerrar">
        <button type="submit" class="btn-cerrar">X</button>
    </div>

    <p>Bienvenido! <%=locals.usuarioLogueado%></p>
    <p>tu rol: <%=locals.usuarioRol%></p>
    <p>tu id es:  <%=locals.usuarioID%></p>

    <p class="usuario"> 

    </p> 
    
    <a href="/users/login"><p>Iniciar Sesión</p></a> <!--mostrar solo si NO está logueado-->    
    
    <a href="/users/register"><p>Registrate</p></a> <!--mostrar solo si NO está logueado-->
    
    <a href=""><p>MI CUENTA</p></a> <!--mostrar solo si está logueado--> 
    

    <a href="/products/listado"><p>Administrar productos</p></a> <!--Solo si es administrador-->

    <a href="/users/destroySession"><p>Cerrar Sesión</p></a> <!--mostrar solo si está logueado-->

</body>
</html>