body{
    width: 100%;
    background-color: #ebebeb; 
    margin: 0 0 0 0;  
}
.div-main{    
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    border-radius: 1% 1%;
    justify-self: center;   
    width: 80%;
    justify-content: center;
    background-color: white;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 10%;
    margin-left: 10%;
    padding-top: 2% ;
    padding-bottom: 5% ;
    padding-left: 5%;
    box-sizing: content-box;
    
}
.tabla{
    display: flex;
    justify-content: space-around;
    margin-left: 3.5%; 
    box-sizing: content-box;
}
.div-nombre-boton{
    display: flex;
    justify-content: space-around;
   
    box-sizing: content-box;
}
.container{
    display: flex;
    justify-content: space-around;
}
ul{
    width: 100%;
}

h1{
    font-size: x-large;
    font-weight: bolder;
    display:block;
}
h2{
   font-size: 16px;
    font-weight: bolder;
    display: inline-block;  
    margin-right: 3%;

}
h3{
    font-size: 16px;
     font-weight: bolder;
     display: inline-block;  
     margin-right: 3%;
 
 }
 .nombre{
    display:inline-block;
    width: 40%;    
}

.titulo{
    display:inline-block;
    width: 40%;    
}

.botones{
    display:inline-block;
    width: 40%;
    align-self: center;
}
a{
    text-decoration: none;
    
}
#ver{
    color: rgb(0, 155, 245);
    margin-right: 1%;
}
#editar{
    color: green;
    margin-right: 1%;
}
#borrar{
    
    color: rgb(218, 14, 14)
}


.div-main div button{
    border: none;
    background-color:none;
    padding: 3% 3%;
    color: blue;
    font-weight: bolder;
    border-radius: 4px;
    outline: none;
    margin-right: 2%;
}
@media (max-width: 768px) {
    .icono-contacto{
        width: 5%;
        
    }
}
@media (max-width: 425px) {
    .div-main{    
        font-family: 'Roboto', sans-serif;
        display: flex;
        flex-direction:column;
        flex-wrap: wrap;
        justify-self: center;   
        width: 95%;
        justify-content: center;
        background-color: white;
        margin-top: 3%;
        margin-bottom: 3%;    
        margin-left: 0;   
        box-sizing: content-box;
        
    }
    
    .tabla{
        display: flex;
        justify-content: space-around;
        margin-left: 3.5%; 
        box-sizing: content-box;
        width: 90%;
    }
    .container{
        display: flex;
        justify-content: space-around;
        width: 95%;
        height: auto;
        margin-bottom: 5%;
    }
    .botones a{
        display:block;
        margin-bottom: 10%;
    }
    .div-nombre-boton{
        display: flex;
        justify-content: space-around;
       
        box-sizing: content-box;
    }
    ul{
        width: 100%;
        padding-left: 0%;
    }
    .nombre{
        width: 60%;

    }
    .titulo{
        display:inline-block;
        width: 40%;  
        margin-right: 3%;  
    }
    


}
    
