

body {
    font-family: 'Roboto', sans-serif; 
    margin: 0px;
    padding: 0px;
    background-image: url(/images/retro-the-poland-roses-vintage-a-bouquet-of-roses-rose.jpg);
    background-attachment: fixed;
    background-repeat: round;
    background-color: #deab90;
    flex-flow: column wrap;
    height: auto;
    
    
}

main {
    margin-left: 0%;
    margin-right: 0%;
}

main section {
    width: 95%;
    margin: auto;
    background-color: rgba(66, 83, 71, 0.5);
    border-radius: 15px 15px 0px 0px;
    border: 1.5px solid black;
    border-bottom: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center
}

hr {
    margin: 0px;
    border: 1px solid black;
}

.titulo {
    width:100%;
    font-size: 12vw;
}

.Bloque_Cesta {

    width: 90%;
    background-color: white;
    border-radius: 5px;
    border: 2px solid black;
    margin: auto;
    padding: 15px 5px 15px 5px;
    
}

.producto {
    border: 2px solid green;
    margin: 10px 0 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 15px 5px 15px 5px;
}

.detalles_producto {
    width: 25%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    
}

.detalles_producto p, .detalles_producto a {
    font-size: 3.5vw;
    text-align: center;
    width: 100%;
}

.Bloque_Cesta img {
    width: 30%;
    border: 1.5px black solid;
    background-color: black;
    box-sizing: border-box;
    display: flex;
    align-self: stretch;
    
    
}

.titulo {
    
    text-align: center;
    font-size: 20px;
    color: red;
    
}


.detalles_compra {
    
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    padding: 25px 0px 25px 15px;
    position: relative;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 25px;
    background-color: rgba(80, 93, 214, 0.5);
    box-shadow: -64px 65px 142px -26px rgba(105,93,105,1);
    
}



.detalle_general {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    position: relative;
    bottom: 7px;
    text-align: center;
}

.precio_general {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-items:center;

}

.precio_general form {
    width: 100%;
    display: flex;
    justify-content: center;
}

.Buy {
    border-radius: 5px;
    background-color: blue;
    padding: 3px;
    font-size: 3vw;
}

.detallesG {
    font-size: 3.5vw;
    position: relative;
    top: 7px;
}

.p_total {
    width: 100%;
}

.precio_total {
    width: 25%;
    border: 1px solid blue;
    border-radius: 100%;
    background-color: green;
    position: relative;
    top: 10px;
    margin: auto;
    
    
}

.precio_total p {
    
    font-size: 3vw;
    width: 100%;
    text-align: center;
}

.Rel {
    width: 90%;
    margin: auto;
    margin-top : 25px;
    font-size: 4vw;
}

.prodRel {
    border-radius: 0;
    width: 90%;
    margin: auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.prodRel article {
    width: 35%;
    font-size: 2.8vw;
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin: 10px 0px 10px 0px;
    

    


}


.prodRel article img {
    box-sizing: border-box;
    width: 45%;
    border: 1px solid black;
    border-radius: 5px;
    
    
}

.prodRel article div {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: 45%;
    text-align: center;
}

.botonA, .botonS {
    display: flex;
    width: 7.5%;
    box-sizing: content-box;
    display: flex;
    justify-content: center;
}

.botonA p, .botonS p {
    font-size: 10.2vw;
}

.botonA {
    border-right: 2px solid black;
}

.botonS {
    border-left: 2px solid black;

}



@media (max-width: 450px) {
    .precio_total {
        right: 15%;
    }   
}

@media (min-width: 1024px) {
    .Bloque_Cesta {
        width: 55%;
    }

    .detalles_compra {
        width: 35%;
    }

    .Bloque_Cesta p, .detalles_compra p {
        font-size: 10px;
    }
    
    .detalle_general p {
        font-size: 20px;
        position: relative;
        top: 0;
    }
    

    .detalles_compra {
        order: -1;
        align-self: flex-start;
        padding: 20px 20px 20px 20px;
        align-content: space-around;
        height: 400px;
        margin: 0;
        box-shadow: none;

    }

    .precio_general {
        order: -1;
        width: 100%;
    }

    .Buy {
        font-size: 20px;
        position: relative;
        background-color: white;
        color: rgb(43, 171, 221);
        padding: 10px 10px 10px 10px;
    }

    .precio_total {
        border-radius: 100%;
        margin-top: 20px;

        
    }

    .p_total {
        position: relative;
    }

    .precio_total p {
        font-size: 15px;
    }

    .titulo {
        order: -2;
        font-size: 2.5em;
    }

    .Cesta {
        background-color: inherit;
        border: none;
        margin-bottom: 30px;
        
    }

    .Bloque_Cesta img {
        width: 30%;
        border: 1.5px black solid;
        background-color: black;
        
    }

    .producto {
        height: 200px
    }

    .producto p {
        font-size: 20px;
    }

    .Rel {
        font-size: 20px;
    }

    

    .prodRel p {
        font-size: 20px;
    }

    .botonA, .botonS {
        width:2%;
        display: flex;
        align-self: stretch;
    }

    .botonA p, .botonS p {
        font-size: 40px;
        display: flex;
        align-self: center;
    }

    .prodRel img {
        display: flex;
        align-self: stretch;
    }

}