/* fuentes:
    font-family: 'Advent Pro', sans-serif;
font-family: 'Great Vibes', cursive;
font-family: 'Pinyon Script', cursive;
font-family: 'Playfair Display SC', serif;
font-family: 'Roboto', sans-serif;*/

body {   
    width: 100%;
    background-color: #ebebeb;
    margin: 0 0 0 0;
    
}
.main-productDetail{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;   
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: white;
    justify-content: center;
    border-radius: 3%;
    padding: 1% 2% 1% 2%;
}


.div-desplazable{
    display: flex;
    width: 40%;
    flex-direction: column; 
}

#product-name{
    font-size: xx-large;
}

#detalle-producto{
    width: 100%;    
}
.img-product{
    width: 100%;
}
#imagenDelproducto{
    width: 100%;
       
}

#articulo{   
    display: flex; 
    flex-wrap: wrap;
    width:50%;    
    margin-bottom: 7% ;
    margin-top: 7%;
    margin: 0;
    padding: 15px;
    border-radius: 10px;
    background: white;
    
}

.detalles{
    margin-top: 0%;
    margin-bottom: 3%;
   
}
#titulo-detalle{
    margin: 0%;
    border-bottom: 2px solid #CBDFBD;
    font-size: 24;
}

#datos{
    font-size: x-large;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 0;    
}

#precio{
    margin-right: 5%;    
    font-weight: bold;
    color: #909090;
    text-decoration: line-through;
}

#precioConDesc{
    margin-right: 5%;      
    color: blue;
    font-weight: bold;
}

#descuento{    
    color: green;
}

.div-color-talle{
    display: flex;
    flex-direction: column ;

}

#Boton-color{    
    margin-top: 3%;
    margin-bottom: 0%;
    height: 30px;
    width: 30px;
    cursor: pointer;    
    border: 1px solid rgb(187, 187, 187);
    border-radius: 50%;   
}


.div-talle{
   margin-top: 0%;
   margin-bottom: 1%;
}

#boton-talle{
    margin-top: 5%;
    background-color: white;
    border-radius: 15%;
    padding: 8px 14px;    
    border-width: thin;
    
}

#selector{
    font-size: medium;
    margin: 0;
}

#met-pago{   
    
    margin-top: 3%;
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;    
    margin-bottom: 0;
    outline: none;
    border: none;
}
#boton-talle:hover{
    background-color: rgb(180, 174, 174);

}
#botonCA{
    cursor: pointer;
    padding: 5%;
    height: 10%;
    width: 50%;
    margin-right: 3%;
    margin-bottom: 3%;
    background-color:red;
    border-radius: 10px;
    text-decoration-color: ivory;
    color: white;
    border: 0;
    padding-bottom: 10%;
    outline: none;
    font-weight: bolder;
    
}
.tarjetas{
    display: flex;
}

.img-tarjeta{
    width: 30px; 
    height: 30px;   
    margin-left: 2%;
    box-shadow: grey;
}
.img-tarjeta:hover{
    width: 40px;
    height: 40px;
}

#titulos{
    width: 100%;
    font-size: x-large;
    border-bottom: 2px solid #bebebe;
}
.Especificaciones{
    margin-bottom: 7%;
}

#div-Esp{
    display: flex;
    width: 100%;
}


tr:nth-child(odd){
background-color:rgb(238, 235, 235);
}

tr{
    display: flex;
    justify-content: start;
    margin-bottom: 1.5%;
    
}

th{
    display: flex;
    width: 50%;
    align-self: start;  
    
}

td{
    width: 50%;   
}

#tf{
    font-weight: bolder;
    font-size: medium;    
    text-align: start;
    width: bold ; 
    margin: 0;  
}
/*conf. responsive*/   

@media (min-width: 1024px) {
    .main-productDetail{
    display:flex;
    margin-left: 15%;
    margin-right: 15%;
    justify-content: center;
    border-radius: 1%;
    }
    
}

@media (max-width: 600px) {
    .main-productDetail{        
        display: flex;
        justify-content: column;
    }

    .detalle-producto{
        width: 100%;
        display: flex;  
        flex-direction: column;  
    }
    
    #articulo{
        display:flex;
        width: 80%;
        align-self: center;
    }
    .div-desplazable{
        display: flex;
        width: 80%;
        align-self: center;
    }
    #botonCA{
        padding-top:3% ;
        padding-bottom:3%;
        font-weight: bolder;

    }

}
