

.main-crearCuenta{
    font-family: 'Roboto', sans-serif;     
    display: flex;
    flex-direction: row;
}

.secciones{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin-left: 10%;
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: white;
    justify-content: center;
    border-radius: 3%;
    padding: 1% 2% 1% 2%;
    width: 50%;
}
.secciones2{
    display: flex;
    flex-direction: column;
    margin-left: 2%;
    margin-right: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 50%;


}
.articles1{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin-left: 1%;
    margin-right: 3%;
    margin-top: 0%;
    margin-bottom: 4%;
    background-color: white;
    justify-content: center;
    border-radius: 3%;
    padding: 4% 4% 4% 4%;
    width: 100%;
    height: 40vh;
    align-content: center;

}

.articles2{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin-left: 1%;
    margin-right: 3%;
    margin-top: 0%;
    margin-bottom: 0%;
    background-color: white;
    justify-content: center;
    border-radius: 3%;
    padding: 4% 4% 4% 4%;
    width: 100%;
    height: 40vh;
    align-content: center;

}
.main-login{
    font-family: 'Roboto', sans-serif;    
    display: flex;
    flex-direction: column;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: white;
    justify-content: center;
    border-radius: 3%;
    padding: 0 0 0 0;
    width: 50%;
    box-shadow: 2px 2px 5px #999;
}
.ahorraTiempo{
    
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: white;
    justify-content: center;
    border-radius: 3%;
    padding: 1% 2% 1% 2%;

}
.tengoCuenta{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: white;
    justify-content: center;
    border-radius: 3%;
    padding: 1% 2% 1% 2%;
}



/*conf detalle del producto*/  
#formularioTitulo{
    font-size: x-large;
    text-align: center;
}

#nameCaja{
    font-size: x-large;
    text-align: center;
    margin-bottom: 1%;
}

#detalle-producto{
    display:flex;
    width: 100%;    
}

#imagenDelproducto{
    width: 100%;
       
}

#articulo{   
    display: flex; 
    flex-wrap: wrap;
    width:100%;    
    margin-bottom: 7% ;
    margin-top: 7%;
    margin: 0;
    padding: 15px;
    border-radius: 10px;
    background: white;
    box-sizing: border-box;
}

.detalles{
    margin-top: 0%;
    margin-bottom: 3%;
   
}
#titulo-detalle{
    margin: 0%;
    border-bottom: 2px solid #CBDFBD;
    font-size: 24;
}


#Boton-color{    
    margin-top: 3%;
    margin-bottom: 0%;
    height: 30px;
    width: 30px;
    cursor: pointer;    
    border: 1px solid rgb(187, 187, 187);
    border-radius: 50%;   
}

#selector{
    font-size: medium;
    margin: 0;
}


#botonCA{
    padding: 1%;
    margin-top: 2%;
    margin-right: 3%;
    margin-bottom: 3%;
    background-color: rgb(47, 172, 255);
    border-radius: 10px;
    text-decoration-color: ivory;
    color: white;
    border: 0;
    padding-left: 5%;
    padding-right: 5%; 
    width: 100%;
    height: 100%;
    min-width: 30px;
    font-size: large;
}

.divBotonCA{
    width: 100%;
    height: 10%;
    margin-top: 10%;
}

.registroFbyGoogle{
    width: 100%;
    margin: 2%;
}

#botonFBG{
    margin-top: 2%;
    margin-bottom: 3%;
    background-color:red;
    border-radius: 10px;
    text-decoration-color: ivory;
    color: white;
    border: 0;
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    height: 100%;
    min-width: 30px;
    font-size: large;
}

#botonCA:hover{
    background-color:rgba(255, 0, 0, 0.5);
    cursor: pointer;
}

#botonCA:active {
    box-shadow: 0px 0px 2px 2px rgb(115, 0, 0);
}

#botonFBG:hover{
    background-color:rgba(255, 0, 0, 0.5);
    cursor: pointer;
}

#botonFBG:active {
    box-shadow: 0px 0px 2px 2px rgb(115, 0, 0);
}

#titulos{
    width: 100%;
    font-size: x-large;
    border-bottom: 2px solid greenyellow;
}


/*conf. responsive*/  

@media (max-width: 480px) {
.main-crearCuenta{
    display: flex;
    flex-direction: column;
    width: 100%;

}

.secciones{
    display: flex;
    flex-direction: column;
    width: auto;
    margin: 1%;
}
.secciones2{
    display: flex;
    flex-direction: column;
    width: auto;
    margin: 1%;
}

.main-login{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0%;
    padding: 0%;
    margin-right: 0%;
}
.cajaLogin{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0%;
    margin-right: 0%;
    padding: 0%;
}

}



.formulario{
    text-align: left;
    margin-top: 2%;
    margin-bottom: 2%;
    padding-top: 2%;
    
}
.formulario input{
    width: 98%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 4px;
    outline-color:  rgb(47, 172, 255);
    border: solid thin gray;
}

.logobody {
    width: 30%;
    justify-self: center;
    min-width: 120px;
    padding-left: 30%;
    padding-right: 30%;    
    padding-top: 0%;


  }

  .cajaFormulario{

    display: flex;
    flex-direction: column;
      margin-left: 20%;
      margin-top: 5%;
      border: solid 3px grey;
      padding: 4%;
      width: fit-content;
  }

  .cajaFormularioRegistro{

    display: flex;
    flex-direction: column;
      margin-left: 25%;
      margin-top: 0%;
      padding: 4%;
      width: fit-content;
  }

  .cajaLogin{

    display: flex;
    flex-direction: column;
      margin-left: 15%;
      margin-right: 15%;
      margin-top: 5%;
      margin-bottom: 5%;
      border: solid 2px grey;
      padding: 30 30 30 30;
      border-radius: 4px;
     


  }

.formLogin{
    align-self: center;
}

  .tengoCuenta{
      padding-top: 4%;
      width: fit-content;
      align-self: center;
      line-height: 3%;
  }

  #h1Cuenta{
      text-align: center;
  }

  #h2Cuenta{
      padding-top: 2%;
      padding-bottom: 2%;
    text-align: center;
}
.errorLogin{
    color:crimson;
    font-weight: bolder;
}
