body{
    width: 100%;
    background-color: #ebebeb; 
    margin: 0 0 0 0;  
}
.div-main{    
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border-radius: 2% 2%;
    justify-self: center;
   
    width: 80%;
    justify-content: center;
    background-color: white;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 10%;
    margin-left: 10%;
    padding-top: 2% ;
    padding-bottom: 5% ;
    height: auto;
}
.errores{
    display: flex;
    width: 100%;
}
.errores ul{
    width: 100%;

}
.errores li{
    color:red
}
.div-main div{    
    width: 40%;
    margin-right: 3%;
    height: 50%;
}

.div-main div h1{
    font-size: x-large;
    font-weight: bolder;
}
.div-main div h2{
    font-size: x-large;
}
span{
    font-size: large;
    color:gray;
}
.div-main div label{
    font-size: large;
    
}
.div-main div input{
    width: 100%;
    margin-bottom: 5%;
    border: solid thin gray;
    outline-color:  rgb(47, 172, 255);
    border-radius: 4px;
    padding-top: 3%;
    padding-bottom: 3%;
}
.div-main div p{
    color:gray
}
.icono-contacto{
    width: 3%;
    align-self: center;
    margin-right: 1%;
    color: grey;
}
textarea{
    border: solid thin gray;
    outline-color:  rgb(47, 172, 255);
    outline-width: thin;
    width: 100%;
    border-radius: 4px;

}
.div-main div button{
    border: 0.5px 0.5px;
    background-color:#E12A2A;
    padding: 3% 5%;
    color: white;
    font-weight: bolder;
    border-radius: 4px;
    outline: none;
}
@media (max-width: 768px) {
    .icono-contacto{
        width: 5%;
        
    }
}
@media (max-width: 425px) {
    .div-main div{    
        width: 60%;
        margin-right: 3%;
        height: 50%;
    }

}
    
