<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Registro</title>
    <link rel="shortcut icon" href="/images/iconos/titleFN.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Advent+Pro:wght@300&family=Great+Vibes&family=Pinyon+Script&family=Playfair+Display+SC:wght@700&family=Roboto:wght@300&display=swap" rel="stylesheet">    <link rel="stylesheet" href="/stylesheets/styleProductDetail.css">
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/header-style.css">
    <link rel="stylesheet" href="/stylesheets/footer-style.css">
    <link rel="stylesheet" href="/stylesheets/styleFormularios.css">
    
</head>

<body>
<%- include('./partials/headerFN') %>

    <main class="main-crearCuenta">  
        <section class="secciones">

        <h1 id="formularioTitulo">Agregar Administrador</h1>   

        <% if (typeof errors != "undefined"){ %>
            <ul style="padding: 0;">
                <% for (var i= 0; i< errors.length ; i++) { %>
                    <li style="list-style: none; color:red" class="listaDeErrores"> <%= errors[i].msg %> </li>
                <%}%>
            </ul>
        <%}%>
        <% if(typeof errorAlLoguear != "undefined"){ %>
            <p style="color:red"><%= errorAlLoguear %></p>
        <% } %>           

        <div class="cajaFormularioRegistro">     
       
        <form action="/users/agregarAdmin" method="POST" class="formRegistro">
            <p class="formulario">
                <label for="nombre">Nombre:</label>
            </p>
                <p class="formulario">
                <input class="input1" type="text" name="nombre" id="nombre">
                
            </p>
            <p class="formulario">
                <label for="nombre">Apellido:</label></p>
                <p class="formulario">
                <input class="input1" type="text" name="apellido" id="nombre">
            </p>
            <p class="formulario">
                <label for="email">Email:</label></p>
                <p class="formulario">
                <input class="input1" type="email" name="email" id="email">
            </p>
            <p class="formulario">
                <label for="pass">Contraseña:</label></p>
                <p class="formulario">
                <input class="input1" type="password" name="password" id="pass">
            </p>
            <p class="formulario">
                <label for="repetirPass">Repetir Contraseña:</label></p>             
                <p class="formulario">
                    <input type="password" name="confirmPassword" id="repetirPass" placeholder="Confirmar contraseña">
                </p>

            <div class="divBotonCA">
                <button id="botonCA" type="submit" name="compra">Registrar</button>
            </div>
        </form>
    </div>
</section>
    
   
    </main>

<%- include('./partials/footerFN') %>
    
</body>
</html>
