<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Contraseña</title>
    <link rel="shortcut icon" href="/images/iconos/titleFN.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Advent+Pro:wght@300&family=Great+Vibes&family=Pinyon+Script&family=Playfair+Display+SC:wght@700&family=Roboto:wght@300&display=swap" rel="stylesheet">    <link rel="stylesheet" href="/stylesheets/styleProductDetail.css">
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/header-style.css">
    <link rel="stylesheet" href="/stylesheets/footer-style.css">
    <link rel="stylesheet" href="/stylesheets/styleFormularios.css">
    <script>
         window.addEventListener("load",function(){
            let form= document.querySelector("form");
            let newPass= document.querySelector(".newpass")
            let repetirPass= document.querySelector(".repetirPass")
            let error= document.querySelector(".error")
            

            form.addEventListener("submit", function(e){
                

                    if(password.value == "" || newPass.value == "" || repetirPass.value ==""){
                        error.innerHTML = '<li style="list-style: none; color:red" > No debe haber campos vacios </li>' 
                        e.preventDefault(e)

                    }else {
                        if (newPass.value == repetirPass.value){
                        console.log("las contraseñas coinciden")

                        } else{
                            
                            console.log("no coinciden");
                            error.innerHTML = '<li style="list-style: none; color:red" > Las contraseñas no coinciden </li>' 
                            e.preventDefault();
                        }
                    }        
            })
         })
    </script>
    
</head>

<body>
<%- include('./partials/headerFN') %>

    <main class="main-crearCuenta">  
        <section class="secciones">

        <h1 id="formularioTitulo">Cambiar Contraseña</h1>   

        <ul style="padding: 0;" class="error">            
                      
        </ul>
        

        <% if(typeof errorAlLoguear != "undefined"){ %>
            <p style="color:red"><%= errorAlLoguear %></p>
        <% } %>           

        <div class="cajaFormularioRegistro">     
       
        <form action="/users/editPassword/<%=usuario.id%>" method="POST" class="formRegistro">
            
            <p class="formulario">
                <label for="pass">Contraseña Actual:</label></p>
                <p class="formulario">
                <input class="input1" type="password" name="password" id="password">
            </p>
            <p class="formulario">
                <label for="repetirPass">Contraseña Nueva:</label></p>             
                <p class="formulario">
                    <input type="password" name="newPass" id="newPass" class="newPass">
                </p>
                <p class="formulario">
                    <label for="repetirPass">Repetir Contraseña:</label></p>             
                    <p class="formulario">
                        <input type="password" name="repetirPass" id="repetirPass" class="repetirPass">
                    </p>

            <div class="divBotonCA">
                <button id="botonCA" type="submit" name="compra">Actualizar</button>
            </div>
        </form>
    </div>
</section>

    </main>

<%- include('./partials/footerFN') %>
    
</body>
</html>
